<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../js/vue.js"></script>
        <title>Document</title>
    </head>
    <body>
        <!-- 
            1.计算属性：要显示的数据不存在，要通过计算得来。
            2.fullName函数底层用的是对象setter和getter方法
            3.执行的时机：
                (1): 初始显示会执行一次，得到初始值去展示
                (2): 当依赖的数据发生改变时会被再次调用
            4.优势：与methods实现相比，内部有缓存机制，效率更高。
            5.备注：计算属性是用于直接读取使用的，不要加（）

         -->


        <div id="app">
            姓：
            <input type="text" v-model="firstName" />
            <br />
            名：
            <input type="text" v-model="lastName" />
            <br />
            <span>全名：{{fullName}}</span>
        </div>

        <script>
            const app = new Vue({
                el: "#app",
                data: {
                    firstName: "张",
                    lastName: "三",
                },
                computed: {
                    /* 
                    简写方法
                    fullName() {
                        return this.firstName + '-' + this.lastName;
                    }
                
                */
                    // 完整写法
                    fullName: {
                        set(value) {
                            const arr = value.split("-");
                            this.firstName = arr[0];
                            this.lastName = arr[1];
                        },
                        get() {
                            return this.firstName + "-" + this.lastName;
                        },
                    },
                },
            });
            console.log(app);
        </script>
    </body>
</html>
